*.suo
Debug/ApiHook.ilk
*.log
Debug/ApiHook.obj
*.pdb
ApiHook.sdf
*.opensdf
test/Test_ws2_32_hook/Src/Generated/Test_ws2_32_hookRunner.cpp
*.tlog
test/Test_ws2_32_hook/Debug/Test_ws2_32_hookRunner.obj
*.idb
test/Test_ws2_32_hook/Debug/Test_ws2_32_hook.exe
*.ilk
test/Test_ws2_32_hook/Debug/ws2_32_hook.obj
*.user
test/Test_ws2_32_hook/Debug/ws2_32.obj
*.obj
test/Test_ws2_32_hook/Debug/ws2_32_hook_fns.obj
*.obj
src/api/windows/ws2_32/sockets/BLIpResolve.h
test/Test_ws2_32_hook/Debug/ws2_32_hook_fns.obj